.container {
  display: grid;
  grid-area: note;
  grid-template:
    'tab' 30px
    'note' calc(100% - 60px)
    'status' 30px / 1fr;
  overflow: hidden;
  border-radius: 0 16px 16px;
}

.editor {
  grid-area: note;
  padding: 16px 0;
  background-color: #1e1e1e;
  border-top-right-radius: 16px;
}
