.container {
  display: flex;
  grid-area: status;
  align-items: center;
  justify-content: end;
  padding: 0 16px;
  background-color: #1e1e1e;
  border-top: 1px solid #2a2a2a;
}

.info {
  padding: 2px 8px;
  font-size: 12px;
  color: #eee;
  white-space: nowrap;
  border-radius: 4px;
  transition: background-color 0.1s ease-in-out;
}

.info:hover {
  cursor: pointer;
  background-color: #2a2a2a;
}

.spacer {
  flex: 1 1 100%;
}

.button {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 2px 4px;
  font-size: 12px;
  color: #eee;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #0000;
  border: 0;
  border-radius: 4px;
  transition: background-color 0.1s ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: #2a2a2a;
}
