.container {
  display: flex;
  grid-area: tab;
}

.tab {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 8px 12px;
  color: #bbb;
  background-color: #1e1e1e;
  border-radius: 12px 12px 0 0;
}

.tab::before {
  position: absolute;
  right: -9px;
  bottom: 0;
  width: 9px;
  height: 9px;
  content: '';
  background-color: #222;
}

.tab::after {
  position: absolute;
  right: -18px;
  bottom: 0;
  width: 18px;
  height: 18px;
  content: '';
  background-color: #333;
  border-radius: 9px;
}

.tab > p {
  font-size: 12px;
}

.close {
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: #0000;
  border: 0;
  border-radius: 4px;
  transition: background-color 0.1s ease-in-out;
}

.close::before,
.close::after {
  position: absolute;
  top: calc(50% - 1px);
  left: 2px;
  width: 12px;
  height: 2px;
  content: '';
  background-color: #bbb;
  border-radius: 1px;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.close:hover {
  background-color: #111;
}
