.container {
  display: flex;
  grid-area: tab;
}

.tab {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 8px 12px;
  color: #bbb;
  cursor: pointer;
  background-color: #252525;
  border-radius: 12px 12px 0 0;
}

.tab.active {
  color: #fff;
  cursor: default;
  background-color: #1e1e1e;
}

.tab::before {
  position: absolute;
  right: -9px;
  bottom: 0;
  z-index: 1;
  width: 9px;
  height: 9px;
  content: '';
  background-color: #222;
}

.tab::after {
  position: absolute;
  right: -18px;
  bottom: 0;
  z-index: 2;
  width: 18px;
  height: 18px;
  clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
  content: '';
  background-color: #333;
  border-radius: 9px;
}

.tab.active::before {
  background-color: #1e1e1e;
}

.tab:not(.tab.active):first-child::before {
  right: 0;
  background-color: #1e1e1e;
}

.tab:not(.active):first-child::after {
  right: 0;
  clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
  background-color: #252525;
}

.tab.active:first-child::after {
  background-color: #252525;
}

.tab > p {
  font-size: 12px;
}

.close {
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: #0000;
  border: 0;
  border-radius: 4px;
  transition: background-color 0.1s ease-in-out;
}

.close::before,
.close::after {
  position: absolute;
  top: calc(50% - 1px);
  left: 2px;
  width: 12px;
  height: 2px;
  content: '';
  background-color: #bbb;
  border-radius: 1px;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.close:hover {
  background-color: #111;
}
